.cover__subtitle {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin: 0 16px 33px 16px;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 0 204px 115px;
  }
}
@media screen and (min-width: 1024px) {
  .cover__subtitle {
    margin: 0 332px 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    margin: 0 412px 245px;
  }
}
