.lead__subtitle {
  margin: 0;
  color: #ffff;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    line-height: 36px;
    font-size: 30px;
    width: 640px;
    margin: 32px auto 0px auto;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    line-height: 20px;
    font-size: 16px;
    width: 288px;
    margin: 16px auto 0px auto;
  }
}
