.place__link {
  font-size: 18px;
  line-height: 22px;
  min-width: 288px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  color: #ffff;
}

.place__link:hover {
  opacity: 80%;
  transition: 0.5s;
}
