.cover__opacity {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  text-decoration: none;
  /* min-width: 740px; */
  /* min-height: 740px; */
  margin: 0 auto 0 auto;
}

.cover__opacity::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: #2a2c2f;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover__opacity:hover::after {
  opacity: 80%;
  transition: opacity 0.8s;
}
