.cover__opacity {
  flex-direction: column;
  position: relative;
  z-index: 1;
  text-decoration: none;
  margin: 0 auto 0 auto;
  width: 100%;
}

.cover__opacity::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: #2a2c2f;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover__opacity:hover::after {
  opacity: 80%;
  transition: opacity 0.8s;
}

/* @media screen and (max-width: 1024px) {
  .cover__opacity {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__opacity {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__opacity {
    max-width: 320px;
  }
} */
