.footer {
  /* min-width: 186px; */
  /* max-width: 1184px; */
  margin: 0 auto 0 auto;
  min-height: 18px;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 720px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}
