.footer {
  min-width: 186px;
  max-width: 1184px;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    min-width: 720px;
    display: flex;
    justify-content: space-around;
  }
}
