.place__website {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 456px;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .place__website {
    margin: 0 auto 32px auto;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 0 0 32px 16px;
    max-width: 288px;
  }
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
  .place__website {
    margin: 0 0 32px 16px;
    max-width: 288px;
  }
} */
